{% extends 'base.html.twig' %}

{% block title %}Détail d'une idée{% endblock %}

{% block body %}
    <h1>Détails sur l'idée #{{ id }}</h1>
    <p>Ici apparaîtront les informations détaillées sur le souhait choisi.</p>
{% endblock %}
