{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <h1>À propos de nous</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
{% endblock %}
