{% extends 'base.html.twig' %}

{% block title %}Liste des idées{% endblock %}

{% block body %}
    <h1>Liste des choses à faire</h1>
    <ul>
        {% for wish in wishes %}
            <li>
                <a href="{{ path('app_wish_detail', {id: wish.id}) }}">
                    {{ wish.title }}
                </a>
            </li>
        {% else %}
            <li>Aucune idée publiée pour l’instant.</li>
        {% endfor %}
    </ul>
{% endblock %}
